<div class="container">
  <div class="content">
    <div class="text">
      <h1>What's more?</h1>
      <ul>
        <li>
          <a href="https://developer.chrome.com/docs/devtools/" target="_blank"
            >Global Dev Tools doc</a
          >
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/fr/docs/Web/API/Console_API"
            target="_blank"
            >Console API</a
          >
        </li>
        <li>
          <a
            href="https://code.visualstudio.com/docs/editor/debugging"
            target="_blank"
            >Debug within VSCode (Press F5)</a
          >
        </li>
        <li>
          <a
            href="https://developer.chrome.com/tags/devtools-tips/"
            target="_blank"
            >DevTools tips</a
          >
        </li>
        <li>
          <a href="https://github.com/chalk/chalk" target="_blank"
            >Chalk for logging when doing node for backend</a
          >
        </li>
        <li>
          <a href="https://fakerjs.dev/" target="_blank">Faker</a>
        </li>
        <li>
          <a
            href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf"
            target="_blank"
            >VSCode shortcut</a
          >
        </li>
      </ul>
    </div>
  </div>
  <app-footer previous="/debug"></app-footer>
</div>
